.group-members {
  border-bottom: 1px solid #ccc;
}

.group-member {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-width: 1px 1px 0 1px;
}

.group-member:nth-child(even) {
  background-color: #f1f1f1;
}

.group-member-actions {
  margin-right: 16px;
}

.group-member-remove {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  color: red;
}

.group-member-edit {
  color: blue;
}

.group-member-name {
  margin-bottom: 0;
}

.group-member-action,
.group-member-score {
  width: 48px;
  height: 48px;
}

.group-member-action {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid #ccc;
  font-size: 24px;
}

.group-member-action--add {
  margin-left: auto;
}

.group-member-score {
  font-weight: 700;
  text-align: center;
  line-height: 48px;
}
