.app {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.app-header {
  height: 64px;
  margin-bottom: 24px;
  background-color: #1565c0;
  color: #fff;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.app-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-nav {
  display: flex;
}

.app-nav-item {
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  border: 0;
  background-color: transparent;
  color: #fff;
  line-height: 64px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 150ms ease background-color;
}

.app-nav-item:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.app-title {
  margin-bottom: 0;
  font-size: 20px;
  line-height: 64px;
  color: #fff;
}

.app-content {
  flex-grow: 1;
}

.add-group-form {
  margin-bottom: 24px;
}

.app-footer {
  padding: 16px;
  background-color: #1565c0;
  font-size: 14px;
  color: #fff;
}

.form-title {
  margin-bottom: 6px;
  font-size: 18px;
}

.form-item {
  margin-bottom: 6px;
}

@media (min-width: 600px) {
  .form--inline .form-content {
    display: flex;
    align-items: flex-end;
  }

  .form--inline .form-item {
    margin-right: 16px;
    margin-bottom: 0;
  }

  .form--inline label {
  }
}
